<uses-permission
    android:name="android.permission.FOREGROUND_SERVICE" />

<uses-permission
    android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />

<application
    ...>

    <service
        android:name=".ScreenCaptureService"
        android:exported="false"
        android:foregroundServiceType="mediaProjection" />

</application>
